apiServerCA: ${cluster_ca_certificate}
apiServerURL: https://${endpoint}
clusterNamespace: uid2
systemRegistrationNamespace: fleet-clusters-system

# Important: no trailing newline in template
token: 